extends layout

block content
  h1 Timelines
  p.lead Em suas timelines você pode compartilhar itens entre seus dispositivos.

  if user
    ul.box-div
      each timeline in timelines
        li: a(href="view/"+ timeline.id)= timeline.nome == undefined ? 'Lista desconhecida' : timeline.nome